<div id="footer-wrapper">
  {% include '_includes/tags.html' %}
  <ul class="footer">
    <li class="footer">&copy; 2023&nbsp; {{ AUTHOR }} ::&nbsp;</li></li>
    <li class="footer"><a href="{{ SITEURL }}">&nbsp;{{ SITENAME }} </a>&nbsp;::</li>
    <li class="footer">&nbsp;
      powered by <a target="_blank" href="https://github.com/getpelican">pelican</a>&nbsp;::
    </li>
    <li class="footer">&nbsp;
      <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
    </li>
  </ul>
</div>
